{% extends 'base.html'%}
{% load static %}
{% block kontent %}

  <!-- Jumbotron -->
  <section id="jumbotron" class="jumbotron">
    <div class="container">
      <div class="sidebar">
        <div class="kiri">
          <img class="hrl" src="{% static 'img/Icon/HrL2.png'%}" alt="des" />
        </div>
        <div class="kanan">
          <h1 class="display-4">Hey There!</h1>
          <h1 class="display-4">I'm <span>Roy Arnando</span></h1>
          <h1 class="display-4">Based In Jombang</h1>
          <div class="kotak">
            <p class="lead">Web Design | Web Development | UI/UX Designer</p>
          </div>
          <button class="btn">My Portfolio</button>
        </div>
      </div>
    </div>
   
  </section>


  <!-- Akhir Jumbotron -->



  {% endblock %}